

html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#tit{
	position: fixed;
	top: 0;
	left: 0;

	height: 10px;
	width: 10px;

	background: red;
}

#tee{
	position: fixed;
	top: 0;
	left: 0;

	height: 10px;
	width: 10px;

	background: green;
}



.dark{
	background-color: rgba(0,0,0,0.8);
	position: fixed;
}

.dark#top, .dark#bottom{
	width: 100%;
}

.dark#bottom{
	bottom: 0;
}

.dark#right{
	right: 0;
}
